*{
    margin:0;
    padding: 0;
    box-sizzing:border-box;
}

body
    background-color; rgb (156,222,173);
    text-align: center;
    Line-height: 2.1;
}

.hero img{ 
    border-radius: 50%;
}

.accent{
    color rgb (156,46,18)